<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <title></title>
</head>
<body>
<div>
    <div class="catalog_section_list">
        <div class="catalog_item">
            <div class="catalog_item__img">img</div>
            <div class="catalog_item__price">ptice</div>
            <div class="catalog_item__body">
                <div class="catalog_item__body_line">
                    <div class="catalog_item__title">Title</div>
                    <div class="catalog_item__like"></div>
                </div>
                <div class="catalog_item__preview_text">preview_text</div>
            </div>
            <button class="btn btn-buy">В корзину</button>
        </div>
        <div class="catalog_item">
            <div class="catalog_item__img">img</div>
            <div class="catalog_item__price">ptice</div>
            <div class="catalog_item__body">
                <div class="catalog_item__body_line">
                    <div class="catalog_item__title">Title</div>
                    <div class="catalog_item__like"></div>
                </div>
                <div class="catalog_item__preview_text">preview_text</div>
            </div>
            <button class="btn btn-buy">В корзину</button>
        </div>
        <div class="catalog_item">
            <div class="catalog_item__img">img</div>
            <div class="catalog_item__price">ptice</div>
            <div class="catalog_item__body">
                <div class="catalog_item__body_line">
                    <div class="catalog_item__title">Title</div>
                    <div class="catalog_item__like"></div>
                </div>
                <div class="catalog_item__preview_text">preview_text</div>
            </div>
            <button class="btn btn-buy">В корзину</button>
        </div>
        <div class="catalog_item">
            <div class="catalog_item__img">img</div>
            <div class="catalog_item__price">ptice</div>
            <div class="catalog_item__body">
                <div class="catalog_item__body_line">
                    <div class="catalog_item__title">Title</div>
                    <div class="catalog_item__like"></div>
                </div>
                <div class="catalog_item__preview_text">preview_text</div>
            </div>
            <button class="btn btn-buy">В корзину</button>
        </div>
    </div>
</div>
</body>
</html>